.sortCode {
    width: clamp(22rem, 25%, 30%); /* responsive width */
    max-height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sortCode span::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  .sortCode span::-webkit-scrollbar-thumb {
    background-color: #76ff03; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Set the border radius of the thumb */
  }
  
  .sortCode span::-webkit-scrollbar-track {
    background-color: black; /* Set the color of the scrollbar track */
  }
  