:root {
  color-scheme: light dark;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-height: 19rem;
  align-items: center;
  justify-content: space-evenly;
}

#chart {
  display: flex;
  flex-direction: column;
  width: max(33vw, 22rem, min-content);
  justify-content: center;
  align-items: center;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}